.react-dom-markdown-editor {
  flex: auto;
  display: flex;
  flex-direction: column;

  .react-tabs {
    flex: auto;
    display: flex;
    flex-direction: column;

    .react-tabs__tab-panel.react-tabs__tab-panel--selected {
      flex: auto;
      overflow: auto;
      display: flex;
      flex-direction: column;

      .react-dom-markdown-editor-textarea,
      .react-dom-markdown-editor-preview {
        height: auto !important;
        flex:   1;
      }
    }
  }

  .react-dom-markdown-editor-workspace {
    flex: auto;

    .react-dom-markdown-editor-textarea,
    .react-dom-markdown-editor-preview {
      height: auto !important;
      flex:   1;
    }
  }
}
